server/functions/history.json

# Node Modules
/node_modules
/server/node_modules
/client/node_modules
*/node_modules
client/src/ol.app.js

# Enviroment Variables
/client/.env
/server/.env
.env
*env*

# Temporary Files
/client/build
*temp_*.*
ip-list.txt
*.bak
